@use "sass:color";



// ----------------------
// Colors
// ----------------------

$heading: rgba(30, 14, 98, 1);
$text: rgba(21, 20, 57, 0.4);
$grey: rgba(235, 234, 237, 1);


// ----------------------
// Background Colors
// ----------------------

$color-background-dark: rgb(237, 40, 106);
$color-background-light: rgb(242, 191, 220);

// :root {
//   --color-white: #{$white};
//   --color-heading: #{$heading};
//   --color-text: #{$text};
//   --color-background-dark: #{$color-background-dark};
//   --color-background-light: #{$color-background-light};
//   --color-action-primary: #{$color-action-primary};
//   --color-action-secondary: #{$color-action-secondary};
//   --color-action-third: #{$color-action-third};
//   --color-twitter: #{$twitter};
// }

.bg-dark {
  background-color: $color-background-dark;
}



